// only 3 weights available in this
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.navbar-brand {
	font-family: 'Grand Hotel', cursive;
    color: #000;
    font-size: 32px;
	letter-spacing: 2px;
	&:hover {
		color: #000;
	}
}

.logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    letter-spacing: 1px;
}

.logo {
	font-family: 'Grand Hotel', cursive;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f5f5f5 !important;
	font-weight: 500;
}

.sen-serif {font-family: 'Sen', sans-serif;}

label{
	display: inline-block;
    margin-bottom: .5rem;
    font-size: 14px;
}

.container {
	max-width: 970px !important;
}

.btn {
	font-weight: 500;
}

button:focus {
    box-shadow: 0 0 0 !important;
}
.modal-header {
	padding: 15px 15px !important;
	.modal-title{
	font-size: 16px;
    font-weight: 500;
    width: 100%;
	text-align: center;
	}
}
.close:focus{
		outline: none !important;
}

.user-header{
	h5{
		font-size: 14px;
		font-weight: 500;
	}
	img{
		width: 30px;
		border: solid 1px #e5e5e5;
		border-radius: 100%;
		margin-right: 10px;
	}
}

.message-body {
    width: 100%;
    resize: none;
    margin-top: 10px;
    border-radius: 0;
	transition: all 0.3s;
	border: none;
	font-weight: 500;
	min-height: 130px;
	&:focus {
		border: none;
		outline: none;
	}
}


.navbar-nav .nav-link {
    color: #444;
    padding: 3px 10px 6px 18px !important;
    font-size: 15px;
}




.btn-primary {
	background: #0095f6;
	border-color: #0095f6;
}

a:hover {
	text-decoration: none;
}

	.form-control {
		font-size: 14px;
		font-weight: 500;
	&:focus, &:active {
		outline: none;
		box-shadow: 0 0 0 !important;
	}
}

.mobile {
	width: 310px;
}

.alert {
	padding: 5px 1.25rem;
}



.border-radius-4{
	border-radius: 4px;
}


.text-11 {font-size: 11px;}
.text-12 {font-size: 12px;}
.text-13 {font-size: 13px;}
.text-15 {font-size: 15px;}
.text-17 {font-size: 17px;}
.text-18 {font-size: 18px;}
.text-19 {font-size: 19px;}
.text-20 {font-size: 20px;}
.text-21 {font-size: 21px;}
.text-22 {font-size: 22;}
.text-23 {font-size: 23px;}

header {
	background: #fff;
    border-bottom: solid 1px #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 999;
}

.form-wrapper {
		border-radius: 5px !important;
		border: solid 1px #eaeaea;
		max-width: 330px;
}


.image-uploader {
    color: #827f7f;
    margin-bottom: 0;
    background: #e4e4e4;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    border: solid 1px #e4e4e4;
	cursor: pointer;
	svg {
		height: 18px;
		width: 36px;
	}
}
.fa-heart.fill {
	color: #f52323 !important;
	animation:fa-beat 5s linear 1;
}

@keyframes fa-beat {
	0% {
	  transform:scale(1);
	}
	5% {
	  transform:scale(1.25);
	}
	20% {
	  transform:scale(1);
	}
	30% {
	  transform:scale(1);
	}
	35% {
	  transform:scale(1.25);
	}
	50% {
	  transform:scale(1);
	}
	55% {
	  transform:scale(1.25);
	}
	70% {
	  transform:scale(1);
	}
  }

.card {
	border-radius: 0;
}
.post-content {
	.fa {cursor: pointer;}
	margin-bottom: 30px; 
	.comment{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    border-top: solid 1px #e5e5e5;
    min-height: 48px;
    border-radius: 0;
    padding: 6px 15px;
    font-size: 13px;
    font-weight: 500;
		&:focus {
			outline: none;
		}
	}
}

.follow-sm {
    padding: 1px 10px;
    font-size: 12px;
    border-radius: 3px;
}

.sidebar {
    position: sticky;
	top: 100px;
	padding-left: 30px;
}

button.nav-link {
    background: transparent;
    border: none;
	font-weight: 500;
	&:focus{
		outline: none;
	}
}

.user-avtar {
    border-radius: 100%;
    overflow: hidden;
    height: 147px;
    border: solid 1px #d0d0d0;
    width: 147px;

}


	.seprator {
		width: 100%;
		height: 1px;
		background: #d8d6d6;
		margin-top: 30px;
		margin: 30px 15px 0 15px;
	}

.spinner-border-sm {border-width: 2px; border-color: #adadad;}
.spinner-border {border-right-color: transparent !important;}

// TWITTER HEART
.heart {
	width: 100px;
    height: 80px;
    background: url('https://cssanimation.rocks/images/posts/steps/heart.png') no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    position: relative;
    transform: translate(-24px, -20px);
	
	&.is-active {
	  transition-duration: 1s;
	  background-position: -2800px 0;
	}
  }

  .action {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.action-wrapper {
    background: white;
    width: 120px;
    position: absolute;
    right: 0;
}

.Toastify__toast--success {
    background: #1a2838 !important;
    border-radius: 3px !important;
}

.Toastify__toast-body {
	text-align: center  !important;
    color: #44d29e !important;
}


.follow-action {
    position: absolute;
    top: 0;
    right: 10px;
}

.search {
	margin-left: 15%;
    width: 230px;
	input {
		background: whitesmoke;
		border: solid 1px #d4cfcf;
		width: 100%;
		padding: 5px 10px;
		font-size: 14px;
		&:focus, &:active {
			outline: none;
		}
	}
}

.search .spinner-border {
    position: absolute;
    right: 10px;
    width: 13px;
    height: 13px;
    top: 10px;
}

.search-result {
	position: absolute;
    background: #fff;
    z-index: 99;
    padding: 15px 18px!important;
    width: 100%;
	border: solid 1px #e5e5e5;
	border-top: none;
	max-height: 200px;
	padding-bottom: 0 !important;
	overflow: auto;
	.spinner-border {
		position: absolute;
		top: -23px;
		right: 10px;
		width: 13px;
		height: 13px;
	}
	li {
		img {
			width: 30px;
			height: 30px;
			margin-right: 15px;
		}
		h3{
			font-size: 14px;
			font-weight: 500;
   			margin-bottom: 2px;
		}
		p{
			font-size: 12px;
			color: #616161;
		}
	}
}



.search-result::-webkit-scrollbar {
    width: 5px;
}
  .search-result::-webkit-scrollbar-track {
    background: #f5f5f5;
}
.search-result::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 19px;
}

.follow-area {
    position: absolute;
    right: 0;
}

.mobile-wrapper {
    height: 100vh;
    display: flex;
}

.center-content {
    margin: auto;
    padding: 0 20px;
	text-align: center;
	h3{
		font-size: 50px;
	}
	p{
		font-size: 15px;
	}
}

 .application-wrapper {display: block;}
 .mobile-wrapper {display: flex;}


.gallery-img {
    max-height: 250px;
    position: relative;
	overflow: hidden;
	img {
		max-height: 250px;
		position: relative;
		overflow: hidden;
		background: #fff;
		padding: 6px;
		border: solid 1px #e5e5e5;
		border-radius: 3px;
	}
}

@media (max-width:992px){
	.application-wrapper {
		display: none;
	}
	
}


@media (min-width:993px){
	.mobile-wrapper {
		display: none;
	}
}

.official-icon {
    width: 20px;
}